.blue {
  height:100px;
  width:100px;
  background-color:blue;
  position:relative;
  display:inline-block;
  right:100px;
}

.yellow {
  height:100px;
  width:100px;
  background-color:yellow;
  position:relative;
  display:inline-block;
  right:100px;
}

.red {
  height:100px;
  width:100px;
  background-color:red;
  position:relative;
  display:inline-block;
  left:200px;
}

body {
  margin:0;
}
